* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./body.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body.dark-mode {
  background-image: url(./bgDark.6e887057.svg);
  background-color: #121212;
}

body.dark-mode header,
body.dark-mode footer,
body.dark-mode select,
body.dark-mode #user-welcome button,
body.dark-mode .registration-button button {
  background-color: #1e1e1e;
}

body.dark-mode header button,
body.dark-mode #user-welcome h2 {
  background-color: #1f66ad;
}

body.dark-mode .logInCont .btn:hover {
  background-color: #1c5fa1;
}

body.dark-mode .logInCont {
  background-color: #292929;
}

body.dark-mode .top {
  border-bottom: 1px solid #191919;
}

body.dark-mode label p {
  color: white;
  font-weight: normal;
}

body.dark-mode .inputClass {
  background-color: #212121;
  border: none;
  color: white;
}

body.dark-mode .logIn-container a {
  color: #ef4836;
}

body.dark-mode #theme-icon {
  color: #ffc063 !important;
}

body.dark-mode .news-container button {
  color: hsl(0deg 0% 100% / 60%);
  background-color: #191919;
}

a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.87);
}

button {
  outline: none;
  border: none;
}

select,
header button {
  border: none;
  background-color: #0f2e3b;
  color: hsla(0, 0%, 100%, 0.87);
  font-size: 16px;
  font-weight: 500;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.container {
  width: 100%;
}

header {
  max-width: 1915px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  background-color: #0f2e3b;
  color: hsla(0, 0%, 100%, 0.87);
  margin-bottom: 101px;
}

header li {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  margin-right: 5px;
}

.btn-primary--green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #228b22;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.left a:hover,
header button:hover,
header select:hover,
header li:hover {
  cursor: pointer;
  color: hsl(0, 0%, 69%);
}

.logIn-container,
.registration-container {
  margin: auto;
}

/* login container */

main {
  height: 100vh;
  padding-bottom: 50px;
}

.logInCont {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: #757575;
  padding: 15px 40px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eceff1;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 18px;
}

label {
  display: flex;
  align-items: end;
  margin-bottom: 4px;
  font-size: 14px;
}

label p {
  font-weight: bold;
  color: #757575;
}

.logIn-container a {
  color: #00f;
}

.button-container {
  min-width: 200px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
}

.button-container .btn {
  border-radius: 5px;
  min-width: 200px;
}

.logInCon.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.7em 1em;
  outline: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  border: none;
  border-radius: 5px;
}

.logInCont .btn:hover {
  background-color: #1e7e1e;
}

input {
  width: 100%;
  background-color: #eceff1;
  border: 2px solid #eceff1;
  font-size: 16px;
  padding: 10px 15px;
  margin-bottom: 5px;
  height: 46px;
  border-radius: 5px;
}

input:hover,
.box {
  cursor: pointer;
}

.inputClass:focus {
  transition: border-color 250ms, background-color 250ms;
  border-color: #b0bec5;
  background-color: #fff;
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 7px;
}

.boxInput {
  padding-top: 15px;
}

.input-container {
  padding-top: 15px;
  position: relative;
}

.password-container .eye {
  position: absolute;
  bottom: 20%;
  right: 9px;
  cursor: pointer;
}

.name-surname {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 15px;
  width: 100%;
}

#user-welcome {
  display: flex;
  align-items: center;
}

#user-welcome h2 {
  font-size: 1rem;
}

#user-welcome button {
  width: 100%;
  background-color: #0f2e3b;
}

/* home container */

.home-page-container {
  width: 35.21%;
  max-width: 100%;
  padding: 0px 10px;
  margin: auto auto auto min(50% - 338px, 100% - 1000px);
  display: grid;
  gap: 80px;
  grid-template-columns: 676px;
  color: hsl(0deg 0% 100% / 87%);
}

.home-page-container .activites {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: start;
}

.activites .box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 120px;
  background-color: #292929;
  letter-spacing: 0.5px;
  transition: padding-bottom 250ms, box-shadow 250ms;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
  transition: 4ms;
}

.activites .box svg:hover {
  transform: scale(1.1);
}

.home-page-container .box p {
  margin-top: 10px;
}

/* news container */

.news-container {
  animation-duration: 250ms;
  display: block;
  animation-name: anShowup;
}

.news-container .title h3 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.news-container .box {
  background-color: #292929;
  transition: padding-bottom 250ms, box-shadow 250ms;
  border-radius: 8px;
  padding: 0px 16px;
  text-align: left;
  border: 3px solid transparent;
}

.news-container .title,
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-container .title {
  margin: 10px 0px;
}

.news-container .description {
  margin-top: 20px;
}

.news-container .description span,
.date {
  color: hsl(0deg 0% 100% / 60%);
}

.news-container .image-container {
  background-image: url(./new-year-poster.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.news-container img {
  width: 100%;
  object-fit: scale-down;
  transition: height 250ms;
  overflow: hidden;
}

.news-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  width: 150px;
  height: 50px;
  margin: auto;
}

.red {
  color: red !important;
}

footer {
  width: 100%;
  padding: 1em;
  gap: 1em;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  background-color: #0f2e3b;
  color: hsl(0deg 0% 100% / 87%);
}

footer a {
  padding: 5px;
  transition: background-color 350ms;
}

.footer-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 1px;
  height: 24px;
  background-color: hsl(0deg 0% 100% / 87%);
}

.d-none {
  display: none;
}
